.auth-panel {
    position: relative;
    
    background: var(--color-bg);
    color: var(--color-text);
    
    border: 1px solid var(--color-border);
    border-radius: var(--radius-l);


    & > .header {
        display: flex;
        flex-direction: column;
        align-items: center;


        & > .logo {
            width: 65%;
            object-fit: cover;
        }
        
        & > .subtitle {
            font-size: 1.3em;
        }

        & > .title {
            font-family: var(--font-extra-bold), sans-serif;
            font-size: 2em;
        }
    }

    & > .footer {
        position: absolute;
        bottom: 15px;

        width: 100%;
        box-sizing: border-box;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        padding: 0 15px;
    }
}