@namespace AuthPanel
@inherits AuthPanelBase

<AuthorizeView>
    <Authorized>        
        <a href="Account/Logout">Log out</a>
        
        <p>Hello @Username</p>
        
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>