@namespace AuthPanel
@inherits AuthPanelBase


<div class="auth-panel" style="width: @Width; height: @Height">
    
    
    
</div>








@*<AuthorizeView>
    <Authorized>        
        <a href="Account/Logout">Log out</a>
        
        <p>Hello @Username</p>
        
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>*@