@namespace AuthPanel
@using TopDeck.Shared.Components
@inherits AuthPanelBase


<div class="auth-panel" style="width: @Width; height: @Height">
    
    <div class="header">
        
        <VerticalSpacer Value="25"/>

        <img class="logo" src="img/logo.svg" alt="topdeck logo">

        <VerticalSpacer Value="20"/>
        
        <p class="subtitle">@Localizer.Localize("authPanel.header.subtitle", "Sign up to")</p>
        <VerticalSpacer Value="5"/>
        <h2 class="title">TOPDECK</h2>

    </div>
    
    <div class="footer">
        
    </div>
    
</div>








@*<AuthorizeView>
    <Authorized>        
        <a href="Account/Logout">Log out</a>
        
        <p>Hello @Username</p>
        
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>*@