.provider-button {
    background: transparent;
    color: var(--color-secondary);

    border: 1px solid var(--color-border);
    border-radius: var(--radius-s);
    
    box-shadow: var(--shadow-m);
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 6px;
    
    cursor: var(--cursor-pointer);
}

    .provider-button:hover {
        opacity: 0.8;
        box-shadow: none;
    }
    
    .provider-button:active {
        opacity: 0.6;
    }

    .provider-button__text {
        font-family: var(--font-bold), sans-serif;
        font-size: 0.8em;
    }


.provider-icon-container {
    width: 24px;
    height: 24px;
}

    .provider-icon-container__icon {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }