@namespace AuthPanel
@using TopDeck.Shared.Components
@inherits ProviderButtonBase


<button class="provider-button" 
        style="width: @Width; height: @Height"
        @onclick="Login">
    <HorizontalSpacer Value="5"/>
    <div class="provider-icon-container">
        <img class="provider-icon-container__icon" src="@IconPath" alt="provider button">
    </div>
    <p class="provider-button__text">@Localizer.Localize(TextKey, $"Sign up with {Provider}")</p>
    <HorizontalSpacer Value="5"/>
</button>