.edit-username-container {
    max-width:600px;
    
    margin: 24px auto;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.edit-username-form {
    width: 100%;
    margin: 12px 0;
}


.edit-username-form__input {
    margin-left: 10px;
    min-width: 200px;

    padding: 8px 10px 6px 10px;
    box-sizing: border-box;

    border: none;
    outline: 1px solid var(--color-outline);

    background: var(--color-bg-2);
    color: var(--color-text);

    border-radius: var(--radius-m);

    font-family: var(--font), sans-serif;
    font-size: 1rem;

    cursor: var(--cursor-text);
}
    .edit-username-form__input::placeholder {
        color: var(--color-text-muted);
    }


.edit-username-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
    .edit-username-form-buttons__button {
        padding: 8px 16px;
        margin-top: 20px;
        width: 100px;
        
        border: none;
        border-radius: var(--radius-s);
        
        font-family: var(--font-bold), sans-serif;
        font-size: 1rem;
        
        background-color: var(--color-text);
        color: var(--color-bg-2);
        
        cursor: pointer;
    }

    .edit-username-form-buttons__button:hover {
        opacity: 0.8;
    }
    
    .edit-username-form-buttons__button:active {
        opacity: 0.6;
    }