@page "/decks"
@using DeckCard = TopDeck.Shared.Components.DeckCard
@inherits DecksViewBase
@attribute [AllowAnonymous]


<PageTitle>TOPDECK - Decks</PageTitle>


<div class="decks-view-page">
    <div id="deck-scroll" class="deck-cards">
        @if (Decks.Count <= 0 && !HasMore)
        {
            <p class="deck-cards__no-cards-text">@Localizer.Localize("page.decksView.noCards.text", "No cards found.")</p>
        }
        else
        {
            foreach (Deck deck in Decks)
            {
                <DeckCard Deck="deck"/>
            }
        }
        
        @if (IsLoading && HasMore)
        {
            <LoadingWheel/>
        }
    </div>
</div>