@page "/decks"
@inherits DecksPagePresenter
@attribute [AllowAnonymous]


<PageTitle>TOPDECK - Decks</PageTitle>


<div class="decks-page-page">
    <div id="deck-scroll" class="deck-items">
        @if (Decks.Count <= 0 && !HasMore)
        {
            <p class="deck-items__no-cards-text">@Localizer.Localize("page.decksView.noCards.text", "No cards found.")</p>
        }
        else
        {
            foreach (Deck deck in Decks)
            {
                <DeckItem Deck="deck"/>
            }
        }
        
        @if (IsLoading && HasMore)
        {
            <LoadingWheel/>
        }
    </div>
</div>