@page "/decks"
@using DeckCard = TopDeck.Shared.Components.DeckCard
@inherits DecksViewBase
@attribute [AllowAnonymous]


<PageTitle>TOPDECK - Decks</PageTitle>


<div class="deck-view-page">
        
    <div id="deck-scroll" class="deck-view-container">
            
        @if (Decks.Count <= 0 && !HasMore)
        {
            <p>@Localizer.Localize("page.decksView.noCards.text", "No cards found.")</p>
        }
        else
        {
            foreach (Deck deck in Decks)
            {
                <DeckCard Deck="deck"/>
            }
        }
        
        @if (IsLoading && HasMore)
        {
            <div class="deck-loader" aria-live="polite" aria-busy="true">
                <div class="spinner" role="status" title="Loading"></div>
                <span class="loader-text">@Localizer.Localize("feedback.text.loading", "Loading...")</span>
            </div>
        }
            
    </div>
    
</div>