.decks-page-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    
    overflow: hidden;
    background: var(--color-bg);
}

.deck-items {
    width: 100%;
    flex: 1 1 auto;

    padding: 12px 8px; /* no extra bottom space needed now */
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    
    overflow-y: auto;
}

    .deck-items__no-cards-text {
        font-family: var(--font-bold), sans-serif;
        font-size: 1.2rem;
    }


.deck-items-pager {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
    
    background: transparent;
    
    z-index: 1;
}

    .deck-items-pager__button {
        height: 25px;

        font-family: var(--font-bold), sans-serif;
        font-size: 0.9em;
        
        border: none;
        background: transparent;
        color: var(--color-text);
        
        cursor: var(--cursor-pointer);
        user-select: none;
    }

    .deck-items-pager__button:hover {
        opacity: 0.8;
    }
    
    .deck-items-pager__button:active {
        opacity: 0.6;
    }
    
    .deck-items-pager__button:disabled { 
        opacity: 0.4; 
        cursor: var(--cursor-default);
    }
    
    
.deck-items-page-buttons { 
    display: flex; 
    align-items: center; 
    gap: 12px; 
}
    
    


.order-fab, 
.filter-fab {
    position: fixed;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background: var(--color-bg-2);
    box-shadow: var(--shadow-m);

    outline: 1px solid var(--color-outline);
    
    cursor: var(--cursor-pointer);
    z-index: 5;
}
    .order-fab { bottom: 106px; }
    .order-fab:hover { opacity: 0.9; }
    .order-fab:active { opacity: 0.8; }

    .filter-fab { bottom: 40px; }
    .filter-fab:hover { opacity: 0.9; }
    .filter-fab:active { opacity: 0.8; }


.filter-modal__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.filter-modal {
    width: min(80%, 92%);
    max-height: 92vh;
    overflow: auto;
    background: var(--color-bg);
    border-radius: var(--radius-l);
    padding: 16px;
    box-shadow: var(--shadow-l);
}
    .filter-modal__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        
        font-family: var(--font-bold), sans-serif;
        font-size: 1.2rem;
    }
    
    .filter-modal__close {
        border: none;
        background: transparent;
        
        cursor: var(--cursor-pointer);
    }
    
    .filter-modal__section {
        margin-bottom: 18px
    }
    
    .filter-modal__section__title {
        font-family: var(--font-bold), sans-serif;
        font-size: 1.2rem;
    }


.filter-order-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-order-item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 4px;
    background: transparent;
    color: var(--color-text);
    font-family: var(--font-bold), sans-serif;
}

.filter-order-item__btn {
    text-align: right;
    background: transparent;
    border: none;
    padding: 12px 20px;
    font-size: 1.4rem;
    font-family: var(--font-bold), sans-serif;
    color: var(--color-text);
    cursor: var(--cursor-pointer);
}

.filter-order-item--toggled .filter-order-item__btn {
    border-radius: 80px;
    background: var(--color-text);
    color: var(--color-bg-2);
}


.filter-order-item__dir {
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: var(--cursor-pointer);
}

    .filter-order-item__dir--hideed {
        visibility: hidden;
    }
    
    .filter-order-item__dir-icon {
        width: 24px;
        height: 24px;
        transition: transform .15s ease-in-out;
    }
    
    
    .filter-order-item__dir-icon--asc {
        transform: rotate(180deg);
    }


.filter-input {
    width: 100%;

    padding: 8px 10px 6px 40px;
    box-sizing: border-box;

    border: none;
    outline: 1px solid var(--color-outline);

    background: var(--color-bg-2);
    color: var(--color-text);

    border-radius: var(--radius-m);

    font-family: var(--font), sans-serif;
    font-size: 1rem;

    cursor: var(--cursor-text);
}
    .filter-input::placeholder {
        color: var(--color-text-muted);
    }
    
    .filter-input__icon {
        position: absolute;
        left: 4px;
        top: 55%;
        transform: translateY(-50%);
    
        width: 32px;
        height: 32px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    
        pointer-events: none;
    }

.filter-input__icon img {
    width: 80%;
    height: 80%;
}


.filter-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 6px;
    margin-top: 6px;
}

.filter-tag {
    height: 28px;
    
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-family: var(--font-bold), sans-serif;
    font-size: 0.8rem;
    cursor: var(--cursor-pointer);
}
    .filter-tag input {
        display: none;
    }
    
    .filter-tag__name {
        display: inline-flex;
        align-items: center;
        padding: 0.4em 0.8em;
        border-radius: 80px;
        background: var(--color-bg-2);
        outline: 1px solid var(--color-outline);
        color: var(--color-text);
        user-select: none;
    }
    
    .filter-tag:hover .filter-tag__name { opacity: 0.9; }
    .filter-tag:active .filter-tag__name { opacity: 0.8; }
    
    .filter-tag input:checked + .filter-tag__name {
        background: var(--color-text);
        color: var(--color-bg-2);
        outline: none;
    }
    
    
.filter-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

    .filter-modal-footer__close {
        width: 42px;
        height: 42px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        border-radius: 50%;
        border: none;
        outline: 1px solid var(--color-outline);
        background: var(--color-bg-2);
    
        box-shadow: var(--shadow-m);
    
        cursor: var(--cursor-pointer);
    }
    

@media (min-width: 1366px) {
    .deck-items {
        padding: 20px 20% 80px 20%;
        gap: 40px;
    }

    .filter-modal {
        width: 25%;
    }
}

@media (min-width: 2048px) {
    .deck-items {
        padding: 20px 28% 80px 28%;
    }
}