@page "/decks"
@inherits DecksViewBase
@attribute [AllowAnonymous]


<PageTitle>TOPDECK - Decks</PageTitle>


<div class="deck-view-page">
        
    <div id="deck-scroll" class="deck-view-container">
            
        @if (Decks.Count <= 0)
        {
            <p>@Localizer.Localize("feedback.text.loading", "Loading...")</p>
        }
        else
        {
            foreach (Deck deck in Decks)
            {
                <DeckView Deck="deck"/>
            }
        }
            
    </div>
    
</div>