@page "/"
@using TopDeck.Domain.Models
@inherits HomeBase
@attribute [AllowAnonymous]


<PageTitle>TOPDECK</PageTitle>


<div class="home-page">
    
    <AuthorizeView>
        <Authorized>    
                
            <LmButton style="position: absolute; top: 20px; right: 20px;" Href="/Account/Logout" ForceLoad>
                @Localizer.Localize("component.button.logout.text", "Log out")
            </LmButton>
                
        </Authorized>
        <NotAuthorized>
                
            <LmButton style="position: absolute; top: 20px; right: 20px;" Href="/Login">
                @Localizer.Localize("component.button.login.text", "Log in")
            </LmButton>
                
        </NotAuthorized>
    </AuthorizeView>
    
    <div class="home-page-content">
        
        <VerticalSpacer Value="20"/>
        
        <div class="deck-view-container">
            
            @foreach (Deck deck in Decks)
            {
                <DeckView Deck="deck"/>
            }
            
        </div>

    </div>
    
</div>
