@page "/"
@using TopDeck.Shared.Components
@inherits HomeBase
@attribute [AllowAnonymous]


<PageTitle>TOPDECK</PageTitle>


<div class="home">
    
    <div class="header">
        
        <div class="logo-container">
            <img src="img/logo.svg" alt="topdeck logo"> 
        </div>
        
        <h1 class="title">TOPDECK</h1>
        
        <LmButton style="margin-left: auto; margin-right: 20px;" 
                  Clicked="OnLoginClicked">@Localizer.Localize("component.button.login.text", "Log in")</LmButton>

    </div>
    
</div>










@*<AuthorizeView>
    <Authorized>        
        <a href="Account/Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        
        <div class="auth-panel-container">
            <AuthPanel/>
        </div>
        
    </NotAuthorized>
</AuthorizeView>*@