@page "/Login"
@inherits LoginBase
@attribute [AllowAnonymous]


<PageTitle>TOPDECK - Login</PageTitle>


<div class="login-page">
    
    <AuthorizeView>
        <Authorized>   
            
            <AutoRedirect RedirectUri="/"/>
            
        </Authorized>
        <NotAuthorized>
            
            <RedirectButton style="position: absolute; top: 20px; right: 20px;" Href="/">
                @Localizer.Localize("component.button.back.text", "Back")
            </RedirectButton>

            <div class="auth-panel-container">
                <AuthPanel/>
            </div>

        </NotAuthorized>
    </AuthorizeView>

</div>