.login-page {
    width: 100vw;
    height: 100vh;
    
    background: var(--color-bg);
    color: var(--color-text);
    
    user-select: none;


    & > .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        height: 75px;


        & > .logo-container {
            width: 75px;
            height: 75px;

            display: flex;
            justify-content: center;
            align-items: center;


            & > img {
                width: 48px;
                height: 48px;
                object-fit: contain;
            }
        }

        & > .title {
            font-family: var(--font-extra-bold), sans-serif;
            font-size: 2rem;
        }
    }
}

.auth-panel-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    justify-content: center;
    align-items: center;
}