@namespace TopDeck.Shared.Components
@inherits LikeButtonBase


<div class="like-button">
    
    <img class="like-icon" src="img/@(IsLiked ? "like-icon.svg" : "like-empty-icon.svg")" alt="like"/>
    
    <span class="like-count">@Likes.ToString("N0")</span>
    
</div>