@namespace TopDeck.Shared.Components
@inherits PlusButtonPresenter


<button class="plus-button" 
        style="width: @Width; height: @Height;" 
        @onclick:preventDefault="true"
        @onclick:stopPropagation="true"
        @onclick="Clicked">
    <SvgIcon FileName="plus-icon.svg" Size="20" />
</button>