@namespace TopDeck.Shared.Components
@inherits RedirectButtonBase


<a class="redirect-button"
   style="width: @Width; height: @Height; @style"
   href="@Href" target="@Target">
    @ChildContent
</a>