@namespace TopDeck.Shared.Components
@inherits RoundPlusButtonPresenter


<button class="round-plus-button" 
        style="width: @Size; height: @Size;" 
        @onclick:preventDefault="true"
        @onclick:stopPropagation="true"
        @onclick="Clicked">
    <SvgIcon FileName="plus-icon.svg" Size="15" />
</button>