.round-plus-button {
    position: relative;
    
    background: var(--color-bg-2);
    text-decoration: none;
    
    border: none;
    outline: 1px solid var(--color-outline);
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: var(--drop-shadow-s);

    overflow: hidden;
    
    cursor: var(--cursor-pointer);
    user-select: none;
}

    .round-plus-button__icon {
        width: 80%;
        height: auto;
    }
    