@namespace TopDeck.Shared.Components
@inherits DeckItemAddButtonPresenter


<a class="deck-item-add-button" href="@NavigationManager.ToAbsoluteUri("/decks/edit")">
   <SvgIcon FileName="plus-icon.svg" Size="60" />
</a>