@namespace TopDeck.Shared.Components
@inherits DeckItemAddButtonPresenter


<a class="deck-item-add-button" href="@NavigationManager.ToAbsoluteUri("/decks/edit")">
   <img class="deck-item-add-button__plus-icon" src="img/plus-icon.svg" alt="plus icon"/>
</a>