@namespace TopDeck.Shared.Components
@inherits DeckViewBase


<div class="deck-view @GetEnergyClass(Deck.EnergyIds)">
    
    <div class="header">
        
        <VotePanel UserLikes="Deck.Likes.Select(l => l.User).ToList()"
                    UserDislikes="Deck.Dislikes.Select(l => l.User).ToList()"/>
        
        <span class="code" @onclick="CopyCode">@DeckCode</span>
        
    </div>
    
    <div class="content">
        
    </div>
    
    <div class="footer">
        
    </div>
    
</div>