@namespace TopDeck.Shared.Components
@inherits DeckViewBase


<div class="deck-view @GetEnergyClass(Deck.EnergyIds)">
    
    <div class="header">
        
        <LikeButton Likes="Deck.Likes.Count"/>
        
        <span class="code" @onclick="CopyCode">@DeckCode</span>
        
    </div>
    
    <div class="content">
        
    </div>
    
    <div class="footer">
        
    </div>
    
</div>