@namespace TopDeck.Shared.Components
@inherits DeckViewBase


<div class="deck-view @GetEnergyClass(Deck.EnergyIds)">
    
    <div class="header">
        
        <DeckNamePanel Name="@Deck.Name"/>
        
        <span class="code" @onclick="CopyCode">@DeckCode</span>
        
    </div>
    
    <div class="content">
        
        <div class="cards">
            
            <img src="" alt="img deck 1"/>
            
            <img src="" alt="img deck 2"/>
            
        </div>
        
        <div class="energies">
            
        </div>
        
    </div>
    
    <div class="footer">
        
        <VotePanel DeckId="Deck.Id" 
                   UserLikes="Deck.Likes.Select(l => l.User).ToList()"
                   UserDislikes="Deck.Dislikes.Select(l => l.User).ToList()"/>
        
    </div>
    
</div>