@inherits MainLayoutBase


<div class="main-layout">
    <header class="main-layout-header">
        <div class="topdeck-logo">
            <img class="topdeck-logo__icon" src="img/logo.svg" alt="topdeck logo"> 
        </div>
        
        <a class="main-layout-header__title" href="/">TOPDECK</a>
        
        <AuthorizeView>
            <Authorized>
                <div class="main-layout-user-menu">
                    <button class="main-layout-user-menu-button" @onclick="ToggleUserMenu">
                        <span class="main-layout-user-menu-button__icon">@UserInitial</span>
                    </button>
                    
                    @if (IsUserMenuOpen)
                    {
                        <div class="main-layout-user-menu-popup">
                            <div class="main-layout-user-menu-popup__username">@CurrentUserName</div>
                            <div class="main-layout-user-menu-popup__row">
                                <span class="main-layout-user-menu-popup__label">Mode sombre</span>
                                <label class="td-switch" title="Basculer thème sombre">
                                    <input type="checkbox" checked="@IsDarkTheme" @onchange="OnThemeSwitchChanged" />
                                    <span class="td-switch__slider"></span>
                                </label>
                            </div>
                            <a class="main-layout-user-menu-popup__edit-username" href="/profile/pseudo" @onclick="CloseUserMenu">Modifier mon pseudo</a>
                            <a class="main-layout-user-menu-popup__logout" href="/Account/Logout" @onclick="CloseUserMenu">Se déconnecter</a>
                        </div>
                    }
                </div>
                @if (IsUserMenuOpen)
                {
                    <div class="main-layout-user-menu-popup-overlay" @onclick="CloseUserMenu"></div>
                }
            </Authorized>
            <NotAuthorized>
                <RedirectButton Height="30px" FontSize="0.9rem" style="margin-left: auto;margin-right: 10px;" Href="/Login">
                    @Localizer.Localize("component.button.login.text", "Log in")
                </RedirectButton>
            </NotAuthorized>
        </AuthorizeView>
        
        <hr class="main-layout-header__separator">
    </header>
    
    <main class="main-layout-body">
        @if (!IsReady)
        {
            <VerticalSpacer Value="40"/>
            <LoadingWheel/>
        }
        else
        {
            @Body
        }
    </main>
    
    @*<footer class="main-layout-footer">
        © 2025 LaM0uette
    </footer>*@
    
    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</div>