.main-layout {
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    padding-top: 50px;

    background: var(--color-bg);
    color: var(--color-text);

    user-select: none;
    overflow: hidden;
}


.main-layout-header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background: var(--color-bg);

    width: 100%;
    height: 50px;

    z-index: 999;
}

    .main-layout-header__title {
        font-family: var(--font-extra-bold), sans-serif;
        font-size: 1.5rem;
    }

    .main-layout-header__separator {
        position: absolute;
        bottom: 0;
    
        width: 100%;
    
        border: none;
        border-top: 1px solid var(--color-border);
    
        margin: 0;
        box-shadow: var(--shadow-s);
    }
    
    
.main-layout-user-menu {
    position: relative;
    
    margin-left: auto;
    
    display: flex;
    align-items: center;
    gap: 8px;
}


.main-layout-user-menu-button {
    background: none;
    border: none;

    padding:4px;
    margin-right: 5px;
    
    cursor: pointer;
}
    .main-layout-user-menu-button__icon {
        display: inline-block;
        width: 28px;
        height: 28px;
        
        border-radius: 50%;
        background: var(--color-text);
        color: var(--color-bg);
        
        font-family: var(--font-bold), sans-serif;
        font-size: 1.2em;
        text-align: center;
        line-height: 28px;
    }
    
    
.main-layout-user-menu-popup {
    position:absolute;
    top: 48px;
    right: 8px;
    
    border: none;
    outline: 1px solid var(--color-outline);
    background: var(--color-bg);
    
    border-radius: var(--radius-s);
    min-width: 240px;
    
    box-shadow: var(--shadow-l);
    
    z-index: 10;
}
    .main-layout-user-menu-popup__username {
        padding: 12px 16px;
        border-bottom: 1px solid var(--color-text-light);

        font-family: var(--font-bold), sans-serif;
        font-size: 0.9em;
        color: var(--color-text-light);
    }
    
    .main-layout-user-menu-popup__edit-username {
        display: block;
        padding: 12px 16px;

        font-family: var(--font-bold), sans-serif;
        font-size: 1.1em;
        color: var(--color-text);
        text-decoration: none;
    }
    
    .main-layout-user-menu-popup__logout {
        display: block;
        padding: 12px 16px;

        border-top: 1px solid var(--color-text-light);

        font-family: var(--font-bold), sans-serif;
        font-size: 1.1em;
        color: var(--color-cancel);
        text-decoration: none;
    }

    
.main-layout-user-menu-popup-overlay {
    position: fixed;
    inset: 0;
    
    background: transparent;
    
    z-index: 9;
}
    

.topdeck-logo {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

    .topdeck-logo__icon {
        width: 65%;
        height: auto;
        object-fit: contain;
    }


.main-layout-body {
    position: relative;
    height: calc(100vh - 50px);
    overflow: hidden;
}


.main-layout-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}


#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
