@inherits MainLayoutBase


<div class="page">
    
    <header>
        
        <div class="logo-container">
            <img src="img/logo.svg" alt="topdeck logo"> 
        </div>
        
        <h1 class="title">TOPDECK</h1>
        
        <AuthorizeView>
            <Authorized>    
                
                <RedirectButton style="margin-left: auto;margin-right: 20px;" Href="/Account/Logout">
                    @Localizer.Localize("component.button.logout.text", "Log out")
                </RedirectButton>
                
            </Authorized>
            <NotAuthorized>
                
                <RedirectButton style="margin-left: auto;margin-right: 20px;" Href="/Login">
                    @Localizer.Localize("component.button.login.text", "Log in")
                </RedirectButton>
                
            </NotAuthorized>
        </AuthorizeView>
        
        <hr class="header-separator">

    </header>
    
    <main>
        @if (!IsReady)
        {
            <VerticalSpacer Value="40"/>
            <LoadingWheel/>
        }
        else
        {
            @Body
        }
    </main>

    @*<footer>
        © 2025 LaM0uette
    </footer>*@
    
    
    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
    
</div>