@inherits MainLayoutBase


<div class="page">
    
    <header>
        
        <div class="logo-container">
            <img src="img/logo.svg" alt="topdeck logo"> 
        </div>
        
        <h1 class="title">TOPDECK</h1>
        
        <hr class="header-separator">

    </header>
    
    <VerticalSpacer Value="75"/> <!-- header is fixed, so we need to add some space -->
    
    <main>
        @if (!IsReady)
        {
            <p>@Localizer.Localize("feedback.text.loading", "Loading...")</p>
        }
        else
        {
            @Body
        }
    </main>

    @*<footer>
        © 2025 LaM0uette
    </footer>*@
    
    
    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
    
</div>