.suggestion-accordion {
    display: flex;
    flex-direction: column;
    gap: 6px;

    padding: 8px 12px;
    box-sizing: border-box;
    
    overflow: hidden;
    user-select: none;
}


.suggestion-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;

    border: 1px solid var(--color-outline);
    border-radius: var(--radius-s);

    background-color: var(--color-bg);
    box-shadow: var(--shadow-s);

    padding: 8px 12px;
    box-sizing: border-box;

    cursor: var(--cursor-pointer);
}

    .suggestion-button:hover {
        opacity: 0.8;
    }
    
    .suggestion-button:active {
        opacity: 0.6;
    }
    
    .suggestion-button__suggestor {
        flex: 1 1 auto;
        min-width: 0;
        max-width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        text-overflow: ellipsis;
    
        font-family: var(--font-bold), sans-serif;
        color: var(--color-secondary);
        font-size: 1em;
    }

    .suggestion-button__arrow {
        flex: 0 0 22px;
    
        width: 22px;
        height: 22px;
        transition: transform 0.2s ease;
        transform: rotate(0deg);
    }
    
    .suggestion-button__arrow--expanded {
        transform: rotate(90deg);
    }

.suggestion-vote-panel-container {
    margin-left: auto;
}


.suggestion-cards {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, 65px);
    justify-content: flex-start;
    align-content: flex-start;
    gap: 5px;

    margin: 0 5px 25px 5px;
    box-sizing: border-box;
}

    .suggestion-card {
        position: relative;
    
        width: 65px;
        height: auto;
        justify-self: center;
    }
    
    .suggestion-card__img {
        width: 100%;
        height: 100%;
    }
    
    
.suggestion-card-state {
    position: absolute;
    bottom: 6px;
    right: 6px;

    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-bg);
    box-shadow: var(--shadow-l);

    border-radius: 50%;
}

    .suggestion-card-state__icon {
        width: 70%;
        height: 70%;
        justify-self: center;
    }


@media (min-width: 1366px) {
    .suggestion-cards {
        grid-template-columns: repeat(auto-fill, 85px);
        gap: 8px;
    }
        .suggestion-card {
            width: 85px;
        }
}