.title-panel {
    background: var(--color-bg);
    box-shadow: var(--drop-shadow-m);
    
    border: none;
    outline: 1px solid var(--color-outline);
    border-radius: var(--radius-s);
    
    padding: 4px 6px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: var(--cursor-default);
    user-select: none;
}

    .title-panel__text {
        font-family: var(--font-extra-bold), sans-serif;
    
        flex-grow: 1;
        text-align: center;
    
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    
        color: var(--color-secondary);
        cursor: var(--cursor-text);
    }


.title-panel__input {
    font-family: var(--font-extra-bold), sans-serif;
    font-size: inherit;
    color: var(--color-secondary);

    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.title-panel__input::placeholder {
    color: var(--color-text-light);
    opacity: 0.7;
}