@namespace TopDeck.Shared.Components
@inherits TitlePanelBase


<div class="title-panel"
     style="width: @Width; height: @Height; font-size: @FontSize;"
     @onclick:preventDefault 
     @onclick:stopPropagation>

    <p class="title-panel__text">
        @Name
    </p>
</div>