@namespace TopDeck.Shared.Components
@inherits VotePanelBase


<div class="vote-panel" 
     style="width: @Width; height: @Height; font-size: @FontSize;"
     @onclick:preventDefault 
     @onclick:stopPropagation>
    <button class="vote-button vote-like-button"
            @onclick:preventDefault
            @onclick:stopPropagation
            @onclick="OnLikeClicked">
        
        @if (IsLiked)
        {
            <SvgIcon FileName="like-icon.svg" Size="20" />
        }
        else
        {
            <SvgIcon FileName="like-empty-icon.svg" Size="20" />
        }
    </button>
    
    <p class="vote-panel__like-count">@LikeCountFormatted</p>
    <div  class="vote-panel__separator"></div>
    
    <button class="vote-button vote-dislike-button"
            @onclick:preventDefault
            @onclick:stopPropagation
            @onclick="OnDislikeClicked">
        
        @if (IsDisliked)
        {
            <SvgIcon FileName="like-icon.svg" Size="20" />
        }
        else
        {
            <SvgIcon FileName="like-empty-icon.svg" Size="20" />
        }
    </button>
    @if (ShowDislikeCount)
    {
        <p class="vote-panel__like-count">@DislikeCountFormatted</p>
    }
</div>