@namespace TopDeck.Shared.Components
@inherits VotePanelBase


<div class="vote-panel" 
     style="width: @Width; height: @Height; font-size: @FontSize;"
     @onclick:preventDefault 
     @onclick:stopPropagation>
    <button class="vote-button vote-like-button" 
            @onclick:preventDefault 
            @onclick:stopPropagation
            @onclick="OnLikeClicked">
        <img class="vote-like-button__icon" src="img/@(IsLiked ? "like-icon.svg" : "like-empty-icon.svg")" alt="like"/>
    </button>
    
    <p class="vote-panel__like-count">@LikeCountFormatted</p>
    <div  class="vote-panel__separator"></div>
    
    <button class="vote-button vote-dislike-button"
            @onclick:preventDefault 
            @onclick:stopPropagation
            @onclick="OnDislikeClicked">
        <img class="vote-like-button__icon" src="img/@(IsDisliked ? "like-icon.svg" : "like-empty-icon.svg")" alt="dislike"/>
    </button>
    @if (ShowDislikeCount)
    {
        <p class="vote-panel__like-count">@DislikeCountFormatted</p>
    }
</div>